
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#AlleyAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "alleyId=" + getParam("alleyId");
  		parentUrl	= "/Alley/saveLeagues?" + parentId;
  		addUrl 		= "/html/LeagueProfileForm.html?action=create";
  		deleteUrl 	= "/Alley/deleteLeagues?" + parentId;
  		modelUrl 	= "/Alley/loadLeagues?" + parentId;

		args = 'roleName=Leagues&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/LeagueViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Alley_LeaguesDivId').html( data );
		});		
		
		//$('#' + 'Alley_LeaguesDivId').load(url);
		
	 			parentId	= "alleyId=" + getParam("alleyId");
  		parentUrl	= "/Alley/saveTournaments?" + parentId;
  		addUrl 		= "/html/TournamentProfileForm.html?action=create";
  		deleteUrl 	= "/Alley/deleteTournaments?" + parentId;
  		modelUrl 	= "/Alley/loadTournaments?" + parentId;

		args = 'roleName=Tournaments&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/TournamentViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Alley_TournamentsDivId').html( data );
		});		
		
		//$('#' + 'Alley_TournamentsDivId').load(url);
		
	 			parentId	= "alleyId=" + getParam("alleyId");
  		parentUrl	= "/Alley/saveLanes?" + parentId;
  		addUrl 		= "/html/LaneProfileForm.html?action=create";
  		deleteUrl 	= "/Alley/deleteLanes?" + parentId;
  		modelUrl 	= "/Alley/loadLanes?" + parentId;

		args = 'roleName=Lanes&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/LaneViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Alley_LanesDivId').html( data );
		});		
		
		//$('#' + 'Alley_LanesDivId').load(url);
		
	  
	 	var id = getParam("alleyId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("alleyId");
			
			jQuery.ajax(
			{
		  		url: '/Alley/load?alleyId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingAlley()
	{
		document.getElementById("AlleyFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetAlley()
	{
		document.getElementById("AlleyProfileFormId").reset();
	}
	
	function saveAlley()
	{
		$('#AlleyFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#AlleyProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Alley/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#AlleyProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['alleyId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Alley
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('alleyId').value = data['alleyId'];

			if ( action == 'create' )
				$( '#AlleyAssociationDivId' ).show();
*/				
			doneSavingAlley();
		});
		
		$('#AlleyFormLoadingDivId').hide();			
	
	}
		function addLeagues()
	{
		addHelperForAlley( 'League', 'Leagues' );
	}

	function deleteLeagues()
	{
		var ids;
		deleteHelperForAlley( 'Leagues', 'name', ids );
	}
	
	function addLeaguesFromList()
	{
	}
	
    		function addTournaments()
	{
		addHelperForAlley( 'Tournament', 'Tournaments' );
	}

	function deleteTournaments()
	{
		var ids;
		deleteHelperForAlley( 'Tournaments', 'name', ids );
	}
	
	function addTournamentsFromList()
	{
	}
	
    		function addLanes()
	{
		addHelperForAlley( 'Lane', 'Lanes' );
	}

	function deleteLanes()
	{
		var ids;
		deleteHelperForAlley( 'Lanes', 'number', ids );
	}
	
	function addLanesFromList()
	{
	}
	
        function addHelperForAlley( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Alley " + roleName;
		var parentId = document.getElementById("alleyId").value;
		parentUrl = '/Alley/save' + roleName + '?alleyId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=alley&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForAlley';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForAlley( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Alley/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#AlleyProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("AlleyFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="AlleyProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="AlleyProfileFormId" class="formTableClass">
    <input type=hidden id="alleyId" name="alleyId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">name</td>
	  <td class="formTDClass">	<input type='text' id="name" name="name" placeHolder="name" required="" validate="" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Alley" onclick="saveAlley()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetAlley()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="AlleyAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Leagues
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Alley_LeaguesDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Tournaments
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Alley_TournamentsDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Lanes
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Alley_LanesDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>
<div id="AlleyFormLoadingDivId" style="display:none;color:black">
  saving Alley...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="AlleyFormStatusDivId">
</div>				  				  


