
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#LeagueAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "leagueId=" + getParam("leagueId");
  		parentUrl	= "/League/savePlayers?" + parentId;
  		addUrl 		= "/html/PlayerProfileForm.html?action=create";
  		deleteUrl 	= "/League/deletePlayers?" + parentId;
  		modelUrl 	= "/League/loadPlayers?" + parentId;

		args = 'roleName=Players&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/PlayerViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'League_PlayersDivId').html( data );
		});		
		
		//$('#' + 'League_PlayersDivId').load(url);
		
	  
	 	var id = getParam("leagueId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("leagueId");
			
			jQuery.ajax(
			{
		  		url: '/League/load?leagueId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingLeague()
	{
		document.getElementById("LeagueFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetLeague()
	{
		document.getElementById("LeagueProfileFormId").reset();
	}
	
	function saveLeague()
	{
		$('#LeagueFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#LeagueProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/League/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#LeagueProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['leagueId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created League
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('leagueId').value = data['leagueId'];

			if ( action == 'create' )
				$( '#LeagueAssociationDivId' ).show();
*/				
			doneSavingLeague();
		});
		
		$('#LeagueFormLoadingDivId').hide();			
	
	}
		function addPlayers()
	{
		addHelperForLeague( 'Player', 'Players' );
	}

	function deletePlayers()
	{
		var ids;
		deleteHelperForLeague( 'Players', 'name', ids );
	}
	
	function addPlayersFromList()
	{
	}
	
        function addHelperForLeague( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for League " + roleName;
		var parentId = document.getElementById("leagueId").value;
		parentUrl = '/League/save' + roleName + '?leagueId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=league&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForLeague';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForLeague( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/League/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#LeagueProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("LeagueFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="LeagueProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="LeagueProfileFormId" class="formTableClass">
    <input type=hidden id="leagueId" name="leagueId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">name</td>
	  <td class="formTDClass">	<input type='text' id="name" name="name" placeHolder="name" required="" validate="" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save League" onclick="saveLeague()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetLeague()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="LeagueAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Players
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="League_PlayersDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>
<div id="LeagueFormLoadingDivId" style="display:none;color:black">
  saving League...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="LeagueFormStatusDivId">
</div>				  				  


