
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#PlayerAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
 
	 	var id = getParam("playerId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("playerId");
			
			jQuery.ajax(
			{
		  		url: '/Player/load?playerId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingPlayer()
	{
		document.getElementById("PlayerFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetPlayer()
	{
		document.getElementById("PlayerProfileFormId").reset();
	}
	
	function savePlayer()
	{
		$('#PlayerFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#PlayerProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Player/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#PlayerProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['playerId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Player
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('playerId').value = data['playerId'];

			if ( action == 'create' )
				$( '#PlayerAssociationDivId' ).show();
*/				
			doneSavingPlayer();
		});
		
		$('#PlayerFormLoadingDivId').hide();			
	
	}
    function addHelperForPlayer( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Player " + roleName;
		var parentId = document.getElementById("playerId").value;
		parentUrl = '/Player/save' + roleName + '?playerId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=player&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForPlayer';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForPlayer( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Player/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#PlayerProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("PlayerFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="PlayerProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="PlayerProfileFormId" class="formTableClass">
    <input type=hidden id="playerId" name="playerId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">name</td>
	  <td class="formTDClass">	<input type='text' id="name" name="name" placeHolder="name" required="" validate="" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">dateOfBirth</td>
	  <td class="formTDClass">	<input size="16" type="text" id="dateOfBirth" name="dateOfBirth" readonly class="form_datetime form-control">
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">height</td>
	  <td class="formTDClass">	<input type='text' id="height" name="height" placeHolder="height" required="" validate="" class="maskedDecimalField form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">isProfessional</td>
	  <td class="formTDClass">	<input type='checkbox' id='isProfessional' name='isProfessional' placeHolder='isProfessional' class="form-control" />
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Player" onclick="savePlayer()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetPlayer()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="PlayerAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
	</table>

  </div>
</div>
<div id="PlayerFormLoadingDivId" style="display:none;color:black">
  saving Player...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="PlayerFormStatusDivId">
</div>				  				  


